body {
  margin: 0;
  padding: 0; 
  font-family: 'Poppins', sans-serif;
  background-color: #34568B ;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #fffffff9;
  position: relative;
}


.menu-icon {
  display: none;
}



.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}
.dugmePretraga {  
  background: tr;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
  overflow: hidden;
}

.dugmePretraga::after{
  left: -100%;
  clip-path: polygon(10% 0, 70% 0, 90% 100%, 30% 100%);
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 300ms ease;
}
 
.dugmePretraga:hover::after{
  left: 100%;
}
::placeholder{
  color: #ebebeb;
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #ffffff;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

.add{
  /* color:#ffffff;
  background-color: rgb(21, 137, 160); */
  background-color: #66A182;
  color: #2d2a2a;
  line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
  transition: all 0.5s;
	position: relative;
}

.add::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.1);
	transition: all 0.3s;
}

.add:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}

.add::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.add:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

.remove{
  background-color: #a16677;
  color: #ffffff;
  line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
  transition: all 0.5s;
	position: relative;
}

.remove::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.1);
	transition: all 0.3s;
}

.remove:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}

.remove::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.remove:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

.row{
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  max-width: 100%;
  column-gap: 80px; 
}


.card{
 margin-top: 20px;
}
.card-body {
 margin: 10px;
}

.card-img-top{
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
  transition: .5s ease;
}

.card-img-top:hover{
  box-shadow:
  1px 1px #373737,
  2px 2px #373737,
  3px 3px #373737,
  4px 4px #373737,
  5px 5px #373737,
  6px 6px #373737;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: .5s ease;
}

.card-text{
  text-align: center;
  font-style: italic;
  color: rgb(217, 204, 204);  
}

.card-title{
  text-align: center;
  color: white;
  font-weight: bold;
}

